<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="container">
      <p>Hello <strong> <%= name %> </strong></p>
      <p>
        Welcome to Clash App! We're thrilled to have you join our community. Get
        ready for exciting battles, strategic gameplay, and endless fun. Let's
        clash together!
      </p>
      <p>if you have any query then lets us know, we are happy to help</p>
      <%- include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
